* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
}
.header {
  padding: 2rem;
  background-color: #ff416c;
  /* border: 1px solid black; */
  text-align: center;
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.header p {
  font-size: 1.5rem;
}
.welcome {
  margin: 2rem 2rem 0;
  padding: 1.5rem;
  background-color: lightgrey;
  height: 4rem;
  border-radius: 3px;
}
.container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  margin: 3rem 1rem;
}
.project {
  display: grid;
  grid-template-columns: 5.5fr 1fr;
  margin: 0 2rem 0rem 1rem;
  padding: 1rem 0rem 1rem 1rem;
  /* background-color: lightgrey; */
  height: 7rem;
  border: 1px solid lightgrey;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  /* overflow: scroll; */
}

.complete-btn button {
  width: 7rem;
  height: 1.8rem;
  margin: 0rem 1rem;
}
/* .completed {
  display: grid;
  grid-template-columns: 9fr 1fr;
} */
.complete-project {
  margin: 0 1rem 0rem 1rem;
  padding: 1rem 1.5rem;
  /* background-color: lightgrey; */
  height: 3rem;
  border: 1px solid lightgrey;
  /* border-radius: 2px; */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  /* overflow: scroll; */
}

.projects-head {
  display: grid;
  grid-template-columns: 10fr 0fr;
  margin: 0 2rem 0rem 1rem;
  border-radius: 3px;
  background-color: lightgrey;
  height: 3rem;
  padding: 0.9rem 1rem 1rem 1rem;

  border: 1px solid #ddd;
}
img {
  padding-bottom: 0.5rem;
  height: 2rem;
  width: 2rem;
}
.complete-projects-head {
  margin: 0 1rem 0rem 1rem;
  display: grid;
  grid-template-columns: 9fr 0fr;
  background-color: lightgrey;
  height: 3rem;
  padding: 0.1rem 0.8rem 0.5rem 1.5rem;
  border: 1px solid #ddd;
}
.the-head {
  padding: 0.9rem 0rem !important;
}
.compl {
  padding: 0rem !important;
  width: 3rem !important;
  height: 3rem;
}
form {
  margin: 0 1rem;
  /* height: 200px; */
  padding: 1rem 1rem 2rem;
  border: 1px solid lightgrey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input {
  margin: 0.5em 0;
  height: 2.5rem;
  width: 100%;
}
input[type="submit"] {
  height: 2.7rem;
}
/* .add-task {
  display: block;
  height: 1000px;
  height: 20px;
  border: 1px solid black;
  background-color: #ff416c;
} */
